<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div>
        <span>Platform ready? {{ isPlatformReady ? 'yes' : 'no' }}</span><br />
        <span>{{ !!player ? 'currently playing' : 'currently not playing' }}</span>
    </div>

    <ion-button *ngIf="!player" (click)="play()">Play</ion-button>
    <ion-button *ngIf="!!player" (click)="stop()">Stop</ion-button>

    <div *ngFor="let message of messages.reverse()">
        {{ message }}
    </div>
  </div>
</ion-content>
